:root {
    background-color: hsl(220, 16%, 22%);
    color: hsl(191, 52%, 80%);
}

a {
    color: hsl(48, 59%, 66%);
}

.test {
    color: rgb(66, 163, 241);
}

.debug {
    background-color: papayawhip;
    color: darkslategray;
}
